@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Roboto:wght@100&display=swap');

body{
    font-family: 'Oswald';
    text-align: center;
    display: block;
    background-image: url("../imagenes/camping8.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #A8DDE0;
  }

  table{
    text-align: center;
    margin: auto;
    width: 30%;
    height:80%;
    background: rgba(5,7,12,.2);
    border-radius: 10px;
    border-spacing: 10px;
    padding-left: 20px;
    padding-right: 20px;
  }

.boton{
    font-family: 'Roboto';
    background: brown;
    color: white;
    margin: auto;
    width: 100%;
    font-size: 20px;
  }

  h1, h2{
    color: brown;
  }

.caja{
  font-family: 'Oswald';
  width: 200px;
  padding: 2px;
}

p{
  color: red; 
  display: none;
}
header{
  background-image: url("../imagenes/cielo2.jpg");
  background-position: center;
  background-size: cover;
  display:flex;
  height: 8%;
  width: 100%;
  border: 3px solid black;
}
.regresar{;
  font-family: 'Oswald';
  background-image: url("../imagenes/cielo2.jpg");
  background-position: center;
  background-size: cover;
  margin-top: 6px;
  margin-left: 1890%;
  display: block;
  text-align: center;
  height: 80%;
  width: 120%;
  }
  .regresar:active{
      margin-top: 2px;
      display: block;
      text-align: center;
      height: 90%;
      width: 130%;
  }