@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Roboto:wght@100&display=swap');

body{
    font-family: 'Oswald';
    text-align: center;
    display: block;
    background-image: url("../imagenes/camping7.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #A8DDE0;
  }

  table{
    text-align: center;
    margin: auto;
    width: 30%;
    height:80%;
    background: rgba(5,7,12,.2);
    border-radius: 10px;
    border-spacing: 10px;
    padding-left: 20px;
    padding-right: 20px;
  }

.boton{
    font-family: 'Roboto';
    background: brown;
    color: white;
    margin: auto;
    width: 85%;
    font-size: 20px;
  }

  h1, h2{
    color: brown;
  }

.caja{
  font-family: 'Oswald';
  width: 200px;
  padding: 2px;
}

p{
  color: red; 
  display: none;
}