@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Roboto:wght@100&display=swap');

body{
font-family: 'Oswald';
background-image: url("../imagenes/camping5.jpg");
background-position: center;
background-repeat: no-repeat;
background-attachment: fixed;
background-size: cover;
text-align: center;
display: block;
font-family: sans-serif;
background-color: #A8DDE0;
}

h1{
    font-family: 'Oswald';
}

.contenedor{
    margin: auto;
    background-color: white;
    width: 800px;
    padding: 30px;
}
ul, li{
    font-family: 'Oswald';
    margin: 0;
    padding: 0;
    list-style: none;
}
.slider{
    position: relative;
    width: 800px;
    height: 500px;
}
ul.slider li{
    position: absolute;
    opacity: 0;
    width: inherit;
    height: inherit;
    background-color: white;
    transition: opacity .5s;
}
ul.slider li img{
   width: 100%;
   height: 500px;
   object-fit: cover; 
}
ul.slider li:first-child{
    opacity: 1;
}
ul.slider li:target{
    opacity: 1;
}
.menu{
 text-align: center;
 margin: 20px;   
}
.menu li{
    display: inline-block;
    text-align: center;
}
.menu li a{
    display: inline-block;
    color: white;
    text-decoration: none;
    background-color: grey;
    padding: 10px;
    width: 20px;
    height: 20px;
    font-size: 20px;
    border-radius: 20px;
}
header{
    background-image: url("../imagenes/cielo2.jpg");
    background-position: center;
    background-size: cover;
    display:flex;
    height: 8%;
    width: 100%;
    border: 3px solid black;
}
.regresar{
    font-family: 'Oswald';
    background-image: url("../imagenes/cielo2.jpg");
    background-position: center;
    background-size: cover;
    margin-top: 6px;
    margin-left: 1750%;
    display: block;
    text-align: center;
    height: 80%;
    width: 120%;
    }
    .inscripcion{
    font-family: 'Oswald';
    margin-right: 3px;
    margin-left: 1475%;
    margin-top: 6px;
    display: block;
    text-align: center;
    height: 80%;
    width: 100%;
    background-image: url("../imagenes/cielo2.jpg");
    background-position: center;
    background-size: cover;
    }
    .regresar:active{
        margin-top: 2px;
        display: block;
        text-align: center;
        height: 90%;
        width: 130%;
        }
        .inscripcion:active{
        margin-right: 3px;
        margin-top: 2px;
        display: block;
        text-align: center;
        height: 90%;
        width: 110%;
        background-color: blue;
        }