@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Roboto:wght@100&display=swap');

body{
  font-family: 'Oswald';
  text-align: center;
  display: block;
  background-image: url("../imagenes/campo.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: #A8DDE0;
}
table{
  margin: auto;
  background: rgba(5,7,12,.2);
  border-radius: 10px;
  border-spacing: 10px;
  padding-left: 20px;
  padding-right: 20px;
}
.texto{
  text-align: center;
}
h1,h3{
  color: brown;
}
.boton{
  font-family: 'Oswald';
  background: brown;
  color: white;
  margin: auto;
  width: 100%;
  font-size: 20px;
}
.inf{
  font-family: 'Oswald';
  padding: 5px;
  width: 225px;
}
.inf2{
  font-family: 'Oswald';
  padding: 6px;
  width: 240px;
  font-size: 15px;
}
.com{
  font-family: 'Oswald';
  width: 230px;
}
.talla{
  display: none;
  padding: 6px;
  width: 240px;
}
header{
  background-image: url("../imagenes/cielo2.jpg");
  background-position: center;
  background-size: cover;
  display:flex;
  height: 8%;
  width: 100%;
  border: 3px solid black;
}
.regresar{;
  font-family: 'Oswald';
  background-image: url("../imagenes/cielo2.jpg");
  background-position: center;
  background-size: cover;
  margin-top: 6px;
  margin-left: 1790%;
  display: block;
  text-align: center;
  height: 80%;
  width: 120%;
  }
  .fotos{
  font-family: 'Oswald';
  margin-right: 3px;
  margin-left: 2400%;
  margin-top: 6px;
  display: block;
  text-align: center;
  height: 80%;
  width: 100%;
  background-image: url("../imagenes/cielo2.jpg");
  background-position: center;
  background-size: cover;
  }
  .regresar:active{
      margin-top: 2px;
      display: block;
      text-align: center;
      height: 90%;
      width: 130%;
      }
      .fotos:active{
      margin-right: 3px;
      margin-top: 2px;
      display: block;
      text-align: center;
      height: 90%;
      width: 110%;
      background-color: blue;
      }
      p{
        color: red; 
        display: none;
      }