/* Del Toro Cruz Joseph Vladimir */
/* Jiménez García Juan Emanuel */

body{
  background-image: url(../img/fondo.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #bcc6c9d8;
  font-family: 'Open Sans', Helvetica;
}

table{
  margin: auto;
  background: rgba(241, 237, 236, 0.342);
  border-radius: 10px;
  border-spacing: 10px;
  padding-left: 20px;
  padding-right: 20px;
}
.contenedor{
  text-align: center;
}

h1{
  color: white;
}

.boton{
  /* background: brown;
  color: white; */
  margin: auto;
  width: 100%;
  font-size: 20px;
}

.informacion{
  padding: 5px;
  width: 225px;
}

.informacion2{
  padding: 6px;
  width: 240px;
  font-size: 15px;
}

.comentarios{
  width: 230px;
}

.talla{
  display: none;
  padding: 6px;
  width: 240px;
}
